.hepta-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--hepta-spacing-1);
}

.hepta-input-label {
  font-size: var(--hepta-typography-font-size-sm);
  font-weight: var(--hepta-typography-font-weight-medium);
  color: var(--hepta-color-text-primary);
}

.hepta-input {
  padding: var(--hepta-spacing-2) var(--hepta-spacing-3);
  font-family: var(--hepta-typography-font-family-sans);
  font-size: var(--hepta-typography-font-size-base);
  color: var(--hepta-color-text-primary);
  background: var(--hepta-color-background-primary);
  border: 2px solid var(--hepta-color-input-border);
  border-radius: var(--hepta-radius-md);
}

.hepta-input::placeholder {
  color: var(--hepta-color-text-secondary);
}

.hepta-input:focus {
  outline: none;
  border-color: var(--hepta-color-primary-500);
}

.hepta-input-wrapper--error .hepta-input {
  border-color: var(--hepta-color-input-border-error);
}

.hepta-input-error {
  font-size: var(--hepta-typography-font-size-sm);
  color: var(--hepta-color-error-500);
}
